{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "off",
  "arrowParens": "always"
}
